body {
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.286;
  text-align: left;
}

.news h2 {
  font-size: 30px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  font-family: "PTSans";
  color: rgb(247, 244, 241);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
